<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@color/Blue"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtWiz_Tattoo"
        tools:targetApi="31">
        <activity
            android:name=".Appoinment"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Specific_Item"
            android:exported="false" />
        <activity
            android:name=".artist_portfolio"
            android:exported="false" />
        <activity
            android:name=".feedback_page"
            android:exported="false" />
        <activity
            android:name=".user_profile"
            android:exported="false" />
        <activity
            android:name=".potrait_tatto"
            android:exported="false" />
        <activity
            android:name=".color_tatto"
            android:exported="false" />
        <activity
            android:name=".black_tatto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>